*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section {
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  margin-bottom: 2rem;
}
form{
  display: flex;
  flex-direction: column;
}

fieldset{
  padding: 1rem;
  margin-bottom: 1rem;
}

fieldset label{
  margin-right: 1rem;
}

button{
  margin-bottom: 1rem;
}

#clear{
  background-color: darkgoldenrod;
  color: black;
  height: 2rem;
  border-radius: 0.3rem
  ;
}

#send{
  background-color: rgb(11, 184, 20);
  color: black;
  height: 2rem;
  border-radius: 0.3rem
  ;
}

